h2 {
  color: white;
  font-size: xx-large;
  margin: auto;
}

p {
  color: #000000;
}

body {
  background: url("../../../public/a.png") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.chat-container {
  max-width: 600px;
  margin: 150px auto;
  padding: 20px;
  border-color: rgba(75, 190, 154, 0.8);
  border-style: solid;
  border-width: 4px;
  background: rgba(75, 190, 154, 0.6);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

.messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  background: #f9f9f9;
  border-radius: 12px;
}

.message {
  padding: 8px;
  border-radius: 5px;
  background: linear-gradient(to right, #b3b3ff, #4bbe9a);
  color: white;
  margin-bottom: 5px;
  text-align: left;
}

.chat-form {
  display: flex;
  gap: 10px;
}

.chat-form input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-form input:focus {
  outline: none;
  border: 2px solid #4bbe9a;
  box-shadow: 0 0 5px rgba(75, 190, 154, 0.5);
}

.chat-form button {
  background-color: #4bbe9a;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-form button:hover {
  background-color: #2a9d7c;
}
